evaluate==0.4.3
--find-links https://download.pytorch.org/whl/cu121
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
accelerate==1.0.1
datasets==3.1.0
huggingface-hub==0.27.1
librosa==0.10.2.post1
peft==0.14.0
soundfile==0.13.0
wandb==0.19.2
transformers==4.46.1
jiwer
deepspeed==0.15.4

